@import "../defaults/color.scss";
@import "../components/header";
@import "../components/footer";
@import "../components/body";


.boxing {
    position: absolute;
    right: 1%;
    border-radius: 50%;
    border: 1px solid white;
    bottom: 5%;
    opacity: 0.2;

    img{
        border-radius: 30%;
    }
}

.me-title { 
    top: 20%;
    left: 20%;
    position: absolute;
    
    .wai {
        color: $primary-color;
        letter-spacing: 2px;
        animation: grow 1s infinite;
        transition: 1s;


        
    }
}

@keyframes grow {
    0% {transform: scale(1)}
    50% {transform: scale(1.5) }
    100% {transform: scale(1)}
    
}

.me{
    img{
        border-radius: 40%;
        border: 5px solid white;
        width: 200px;
        height: 200px;
        position: relative;
        opacity: 0.8;
        left: 50%;
        margin-top: 100px;
        bottom: 70px;
        transition: 1s;

        &:hover {
            border: 5px solid $primary-color;
        }
    }    
}
.text{
    height: 0%;
    width: 70%;
    color: white;
    left: 20%;
    transform: translateY(-60);
    position: relative;
    text-align: justify;
    margin-bottom: 0%;

    p{
        letter-spacing: 0;
        font-size: 18px;
        line-height: 30px;
    }

    h2{
        font-size: 25px;
        color: #f0ec14;
        text-shadow: 1px 1px 1px $secondary-color;
    }

}

  


// Responsive Website

@media screen and (max-width: 600px) {
    body{
        min-height: 95vh;
        position: relative;
        
    }
    
        .head{
            height: 100%;
            width: 100%;
            margin-top: 20px;
            display: inline-block;
            
            
        
            .logo-link{
                text-decoration: none;
            }
        
                .logo{
                    font-weight: 700;
                    color: white;
                    font-size: 25px;
                    letter-spacing:0.5px;
                    
                      
        
                    .dev{
                        color: $primary-color;
                        transition: 1s;
        
                        &:hover{
                            font-weight: bold;
                            color: $secondary-color;
                        }
                }
        
                }
                nav{
                    display: flex;
                    justify-content: space-around;
                    padding-left: 5%;
                    padding-right: 10%;
                    color: white;
                                  
                    
                    
                
                    ul{ 
                        color: white;
                        text-decoration: none;
                        flex-wrap: wrap;
                        
                                    
                        li{
                            
                            list-style-type: none;
                            padding: 5px 0px 0px 5px;
                            
                            
                            a{
                                text-decoration: none;
                                                         
                                text-transform: capitalize;
                                color: white;
                                transition: 0.75s;
                                font-size: 15px;
                                position: relative;
                
                                &:hover{
                                    color: $primary-color;
                                    
                                    
                                }
                
                            
                            }
                        }
                    }
                
                }
    }
    
main{
    width: 100%;
    height: 100%;


    .me {
        display: inline-block;        
        position: relative;
        margin-top: 20%;
        margin-left: 1%;
        
        
        
    }

    .me-title{
        top:25%;
        display: flex;
        position: relative;
        
        
    }
    .boxing {
        position: absolute;
        bottom: 1%;
        
    }
}

}

@media screen and (max-width: 1024px) and (min-width: 601px) {
    body{
        min-height: 95vh;
        position: relative;
    }
    
        .head{
            height: 100%;
            width: 100%;
            margin-top: 20px;
            display: inline-block;
            
        
            .logo-link{
                text-decoration: none;
            }
        
                .logo{
                    font-weight: 700;
                    color: white;
                    font-size: 25px;
                    letter-spacing:0.5px;
                    
                      
        
                    .dev{
                        color: $primary-color;
                        transition: 1s;
        
                        &:hover{
                            font-weight: bold;
                            color: $secondary-color;
                        }
                }
        
                }
                nav{
                    display: flex;
                    justify-content: space-around;
                    padding-left: 10%;
                    padding-right: 10%;
                    color: white;
                    
                
                    ul{ 
                        color: white;
                        text-decoration: none;
                        font-size: 20px;
                        flex-wrap: wrap;
                        
                                    
                        li{
                            
                            list-style-type: none;
                            
                            padding: 5px 8px;
                            
                            
                            a{
                                text-decoration: none;
                                font-weight: bold;                            
                                text-transform: capitalize;
                                color: white;
                                transition: 0.75s;
                                font-size: 20px;
                
                                &:hover{
                                    color: $primary-color;
                                    
                                    
                                }
                
                            
                            }
                        }
                    }
                
                }
    }

    main{
        width: 100%;
        height: 100%;
        position: relative;
    
    
        .me {
            display: inline-block;        
            position: relative;
            margin-top: 20%;
            margin-left: 30%;
            
        }
    
        .me-title{
            top:24%;
            display: flex;
        position: relative;
        }
        .boxing {
            position: absolute;
            bottom: 1%;
            
        }
    }
    
}